# Neon PostgreSQL Database Connection Template (Fill with your credentials in .env)
DATABASE_URL=postgresql://username:password@ep-your-host-pooler.c-5.eu-central-1.aws.neon.tech/neondb?sslmode=require
DIRECT_DATABASE_URL=postgresql://username:password@ep-your-host.c-5.eu-central-1.aws.neon.tech/neondb?sslmode=require
